<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean id="PreProcessService" class="asad.services.PreProcessService"></bean>
    <bean id="TopicModelingService" class="asad.scheduledServices.TopicModelingService"></bean>
    <bean id="GraphService" class="asad.scheduledServices.GraphService"></bean>
    <bean id="StanfordLemmatizer" class="asad.scheduledServices.StanfordLemmatizer"></bean>
    <bean id="GeneralDao" class="asad.model.dataaccess.dao.GeneralDao"></bean>

</beans>